<div class="header">
<div class="log_in">
<% if logged_in? %>
    <p><%= link_to "Myページ(ログイン中)", user_path(current_user.id),class:"edit_link" %></p>
    <%= link_to "ログアウト", session_path(current_user.id), method: :delete ,class:"edit_link" %>
<% else %>
    <p><%= link_to "Sign up", new_user_path, class:"edit_link" %></p>
    <%= link_to "Login", new_session_path, class:"edit_link" %>
<% end %>
</div>
</div>